<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<array>
		<dict>
			<key>question</key>
			<string></string>
			<key>answer</key>
			<string></string>
			<key>wrong</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string></string>
			<key>answer</key>
			<string></string>
			<key>wrong</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string></string>
			<key>answer</key>
			<string></string>
			<key>wrong</key>
			<false/>
		</dict>
	</array>
	<key>Level2</key>
	<array>
		<dict>
			<key>question</key>
			<string></string>
			<key>answer</key>
			<string></string>
			<key>wrong</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string></string>
			<key>answer</key>
			<string></string>
			<key>wrong</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string></string>
			<key>answer</key>
			<string></string>
			<key>wrong</key>
			<false/>
		</dict>
	</array>
	<key>Level3</key>
	<array>
		<dict>
			<key>question</key>
			<string></string>
			<key>answer</key>
			<string></string>
			<key>wrong</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string></string>
			<key>answer</key>
			<string></string>
			<key>wrong</key>
			<false/>
		</dict>
		<dict>
			<key>question</key>
			<string></string>
			<key>answer</key>
			<string></string>
			<key>wrong</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
